* {
    padding: 0;
    margin: 0;
    font-family: Helvetica, sans-serif;
}

.container {
    display: flex;
    
}

.calculadora-imc {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-
}