@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: "Poppins", "arial";
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.contador-de-clicks {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
}

.buttons button{
    padding: 15px;
    border: none;
    border-radius: 10px;
    background-color: black; color: white;
    font-weight: bold;
    cursor: pointer;
}

#click {
    background-color: rgb(68, 108, 240);
}

#menos {
    background-color: rgb(248, 60, 60);
}

#clear {
    background-color: black;
}

